/* Haley Goldberg */
/*this page uses grid layout */

html {
	background-image: url("../images/background1.jpg");
}
h1{
	font-family: "Arsenal SC", sans-serif; 
	color: white;
	text-shadow: 0.06em 0.06em #535951;
	font-size: 230%;
}
h2 { 
	font-family: "Arsenal SC", sans-serif; 
	color: #535951;
	font-size: 200%;
	margin: 0;
}

h3 {
	margin-top: 0;
	color: #899385;
		
}

nav {
	background-color: #899385;
	
	& ul {
		display: grid;
		grid-template: auto / repeat(4, auto);
		justify-content: space-evenly;
		padding: 0 0.625em;
		list-style-type: none;
		margin: 0;
	}
	
	& ul li { 
		padding: 0.625em 0.625em;
		text-align: center;
		font-size: 150%;
	
	}
	
	& a {
		color: white;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	
	& a#current{
		text-decoration: underline;
	}
	& a:hover, a:focus {
		text-decoration:underline;
	}
}

main {
	display: grid;
	grid-template-columns: 11em auto;

	font-family: "Zain", sans-serif;
	background-color: white;
	
	& a {
		font-weight: bold;
		color: #6E1C1F;
		text-decoration: none;
	}
	
	& ul {
		list-style-type: circle;
	}

	& p {
		font-size: 1em;
	}
}

header{
	padding: 0.625em;
	background-image: linear-gradient(white, #899385);

	& h2{
		text-align: left;
		color: white;
	}
	& img {
		float: left;
		max-height: 100%;
		max-width: 100%;
		width: 7.5%; 
	}
}

section{
	grid-column: 2 / 3;

	background-color: white;
	order: 2;

	& h2{
		text-align: center;
		margin-top: 0.83em;
	}
	& ul {
		list-style-type: none;

	}
	& ul li{
		display: inline;
		margin: 0 0.83em 0 0.83em;

	}
	& img {
		max-width: 100%;
		width: 30%;
		border: double #535951 0.11em;
		border-radius: 0.83em;

	}
}

aside{
	order: 1;
    width: fit-content;
	height: fit-content;
	margin: 1.38em;
	padding: 0.625em;

	background-image: linear-gradient(#899385, white);
	border: solid #535951 0.11em;
	border-radius: 0.83em;

	& h2{
		color: white;
		text-align: center;
		margin-bottom: 1em;
	}
	
	& h3{
		color: #535951;
	}
}

footer {
	text-align: center;
	color: #4a4f48;
}