/* Haley Goldberg */

section p {display: none;}

header {display: none;}

aside { display: none; }

nav { display: none; }

.button {display: none;}


body { 
	font-family: "Times New Roman", Times, serif; 
	border: none;
	box-shadow: none;
}

h1, h2, h3 { 
	font-family: Verdana, Arial, Helvetica, sans-serif !important; 
	color: black;
}